<ion-header>
    <ion-navbar>
        <ion-title>Formulario Nueva Tarjeta</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div col-md-6 offset-md-3 col-12>
        <form [formGroup]="formularioTarjeta" novalidate (ngSubmit)="nuevaTarjeta()">
            <h4>Agregar Tarjeta</h4>
            <ion-item>
                <ion-label floating>Nombre</ion-label>
                <ion-input type="text" formControlName="nombre"></ion-input>
            </ion-item>
            <p *ngIf="!formularioTarjeta.controls.nombre.valid && submitAttempt" class="text-danger">
                Nombre obligatorio (maximo 20 caracteres).
            </p>
            <ion-item>
                <ion-label floating>Nombre corto</ion-label>
                <ion-input type="text" formControlName="nombreCorto"></ion-input>
            </ion-item>
            <p *ngIf="!formularioTarjeta.controls.nombreCorto.valid && submitAttempt" class="text-danger">
                Nombre corto obligatorio (maximo 20 caracteres).
            </p>
            <!--cuotaComision-->
            <div formArrayName="cuotaComision">
                <div *ngFor="let address of formularioTarjeta.controls.cuotaComision.controls; let i=index">
                    <div [formGroupName]="i">
                        <ion-row>
                            <ion-col col-5>
                                <ion-item>
                                    <ion-note col-1 item-start>
                                        <ion-icon color="danger"  *ngIf="formularioTarjeta.controls.cuotaComision.controls.length > 0" (click)="eliminarCuotaComision(i)" name="trash"></ion-icon>
                                    </ion-note>
                                    <ion-label floating>Nº cuota</ion-label>
                                    <ion-input type="number" formControlName="numCuota"></ion-input>
                                </ion-item>
                                <p *ngIf="!formularioTarjeta.controls.cuotaComision.controls[i].controls.numCuota.valid && submitAttempt">
                                    Numero de cuota obligatorio (mayor que 0)
                                </p>
                            </ion-col>
                            <ion-col col-5>
                                <ion-item>
                                    <ion-label floating>Comision</ion-label>
                                    <ion-input (keyup.enter)="agregarCuotaComision()" type="number" formControlName="comision"></ion-input>

                                </ion-item>

                                <p *ngIf="!formularioTarjeta.controls.cuotaComision.controls[i].controls.comision.valid && submitAttempt">
                                    Comision de cuota obligatorio (maximo 1 digito entero y 14 decimales)
                                </p>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </div>
        </form>
        <ion-row>
            <button col-md-6 col-12 ion-button outline icon-start small (click)="agregarCuotaComision()">
                <ion-icon name="add-circle"></ion-icon>
                Agregar cuota + comision
            </button>
        </ion-row>
        <ion-row>
            <button col-md-5 col-12 ion-button color="danger" (click)="cancelar()">Cancelar</button>
            <button col-md-5 col-12 ion-button (click)="nuevaTarjeta()">Crear tarjeta</button>
        </ion-row>
    </div>
</ion-content>