 <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title><img class="titleMenu ocultarMenu" src="http://clubhonorarios.com/img/logo/logo-max.png" /></ion-title>
  </ion-navbar>
</ion-header> 



<ion-content padding>
  <div class="contenedor"> 
      <div class="card card-container">
        <h2>Copiar Codigos</h2>
        <form [formGroup]="codigo" method="post" class="form-signin" id="myform" name="codigo">
            <ion-item>
                <ion-label stacked>Codigo Atomatico</ion-label>
                <ion-input type="number" placeholder="y ella" formControlName="dniProfesional" name="dniProfesional" id="dniProfesional" [class.errorClubHonorarios]="!codigo.controls.dniProfesional.valid &&  submitAttempt"></ion-input>
            </ion-item>
            <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!codigo.controls.dniProfesional.valid  && submitAttempt">Ingrese DNI o CUIT del profesional</p>
            <ion-item>
                <ion-label stacked>N° de Cupon</ion-label>
                <ion-input placeholder="y ella" formControlName="apellidoProfesional" type="text" class="form-control" name="apellidoProfesional" id="apellidoProfesional" [class.errorClubHonorarios]="!codigo.controls.apellidoProfesional.valid && submitAttempt"></ion-input>
            </ion-item>
            <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!codigo.controls.apellidoProfesional.valid  && submitAttempt">Ingrese el apellido del profesional</p>
          </form><!-- /form -->
          <button float-right style="margin-top: 20px;" color="secondary" ion-button type="submit" (click)="generar()">Generar</button>
      </div>
      
      <div class="bloque card-container">
        <div class="titulo">
          <span>Datos Previos</span>
        </div>
        <span class="datos">Datos Previos</span>
        <span class="datos">Datos Previos</span>
        <span class="datos">Datos Previos</span>
        <span class="datos">Datos Previos</span>
      </div>
  </div>
</ion-content>
