 <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title><img class="titleMenu ocultarMenu" src="http://clubhonorarios.com/img/logo/logo-max.png" /></ion-title>
  </ion-navbar>
</ion-header> 



<ion-content padding>
  <div class="contenedor"> 
      <div class="card2 card-container">
        <h2>Datos previos</h2>
        <p>Solo puede modificar cantidad de cuotas</p>
        <ion-item>
          <ion-label floating>Cuotas
          </ion-label>
              <ion-select [(ngModel)]="cuotas" (ionChange)='autoCompletarImportes()' interface="popover">
                  <ion-option value="02">2</ion-option>
                  <ion-option value="03">3</ion-option>
                  <ion-option value="04">4</ion-option>
                  <ion-option value="05">5</ion-option>
                  <ion-option value="06">6</ion-option>
                  <ion-option value="07">7</ion-option>
                  <ion-option value="08">8</ion-option>
                  <ion-option value="09">9</ion-option>
                  <ion-option value="10">10</ion-option>
                  <ion-option value="11">11</ion-option>
                  <ion-option value="12">12</ion-option>
              </ion-select>
        </ion-item>
            <ion-item>
                  <ion-label class="letraFuerte"  stacked >Importe total de transaccion (valor a cargar en pagina de {{tarjetaNombre}})</ion-label>
                  <ion-input [(ngModel)]="impTotal" disabled type="number" step="0.05" class="form-control importes" name="importeCarga" id="importeCarga"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label class="letraFuerte" stacked>Importe de cuotas</ion-label>
                  <ion-input [(ngModel)]="impCuota" disabled type="number" step="0.05" class="form-control importes" name="importeCuota" id="importeCuota"></ion-input>
              </ion-item> 
        <h2>Copiar Codigos</h2>
        <form [formGroup]="formulario2" method="post" class="form-signin" id="myform" name="formulario2">
            <div *ngIf="tarjetaNombre !== 'MASTER'">
              <ion-item>
                  <ion-label stacked>CUPON</ion-label>
                  <ion-input placeholder="Ingrese número de cupón" formControlName="cupon" type="number" class="form-control" name="cupon" id="cupon" [class.errorClubHonorarios]="!formulario2.controls.cupon.valid && submitAttempt"></ion-input>
              </ion-item>
              <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario2.controls.cupon.valid  && submitAttempt">Ingrese el numero del cupon</p>
            </div>
            <ion-item>
                <ion-label stacked>{{codigoAutoLabel}}</ion-label>
                <ion-input type="number" placeholder="N° de 2 a 6 Digitos" formControlName="codigoAuto" name="codigoAuto" id="codigoAuto" [class.errorClubHonorarios]="!formulario2.controls.codigoAuto.valid &&  submitAttempt"></ion-input>
            </ion-item>
            <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario2.controls.codigoAuto.valid  && submitAttempt">Ingrese el codigo de autorizacion</p>
          </form><!-- /form -->
          <button float-right style="margin-top: 20px;" color="secondary" ion-button type="submit" (click)="botonEnviar()">Enviar</button>
      </div>
      
      <div class="bloque card-container" style="max-width: 1000px;">
        <div class="titulo">
          <span>Datos Previos</span>
          <!-- Este div me ayuda a que se carguen los CSS. pequeño truco -->
          <div id="preloadfont" >.</div>
        </div>

        <canvas style="display:none" #myCanvas></canvas>

        <img [src]="urlImagenCanvasAzul" *ngIf="imagenEditadaAzul" imageViewer alt="">

        <img [src]="urlImagenCanvas" *ngIf="imagenEditada" imageViewer alt="">
        
        <!-- <span class="datos"><strong>Datos Profesional: </strong>{{this.formulario?.apellidoProfesional.value}} {{this.formulario?.nombreProfesional.value}} - DNI: {{this.formulario?.dniProfesional.value}} - {{this.formulario?.mailProfesional.value}}</span> 
        <span class="datos"><strong>Datos Cliente: </strong>{{this.formulario?.apellidoCliente.value}} {{this.formulario?.nombreCliente.value}} - DNI: {{this.formulario?.dniCliente.value}} - {{this.formulario?.mailCliente.value}} - Telefono: {{this.formulario?.telefonoCliente.value}}</span> 
        <span class="datos"><strong>Datos Venta: </strong>{{this.tarjeta}} - I.Carga: ${{this.formulario?.importeCarga.value}} - I.Cobrar: ${{this.formulario?.importeCobrar.value}} - Cant. Coutas: {{this.formulario?.cuotas.value}} - I.Couta: ${{this.formulario?.importeCuota.value}} - I.Venta: ${{this.formulario?.importeVenta.value}}</span> -->
      </div>
  </div>
</ion-content>
