page-formulario-web-paso2 {
    .datos{
        width: 100%;
        list-style: none;
        display: list-item;
        padding: 12px 15px;
    }

    #preloadfont {
    font-family: BeautifulCreatures;
    // opacity:0;
    height:0;
    width:0;
    display:inline-block;
    }
}
