<ion-header>
    <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button> 
        <ion-title><img class="titleMenu ocultarMenu" src="http://clubhonorarios.com/img/logo/logo-max.png" /></ion-title>
    </ion-navbar>
</ion-header> 

<ion-content padding>   
    <button (click)="scanearTarjeta()">Scan</button>
    <p>{{respuestaDeTarjeta}}</p>
    <form [formGroup]="formulario" method="post" class="form-signin" id="pay" name="pay">
    <ion-grid>
        <ion-row>
            <ion-col class="alturaMinima" col-12 col-lg-4 col-sm-12>
                <ion-row class="alturaMinima">
                    <ion-col col-lg-12>
                        <div class="card2 card-container">
                            <h2>Datos del profesional</h2>
                            <form (ngSubmit)="consultarProfesional()">
                                <ion-row>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label stacked>DNI/CUIT *</ion-label>
                                            <ion-input value="11111111" type="number" [(ngModel)]="dniProfesionalForm" [ngModelOptions]="{standalone: true}"></ion-input>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col style="margin-top: -11px;">
                                        <ion-buttons end><button float-right color="secondary" ion-button outline type="submit"><ion-icon name="search" style="margin-right: 5px;"></ion-icon>BUSCAR</button></ion-buttons>
                                    </ion-col>
                                </ion-row>
                            </form>
                            <ion-item>
                                <ion-label stacked>Apellido</ion-label>
                                <ion-input disabled formControlName="apellidoProfesional" type="text" class="form-control" name="apellidoProfesional" id="apellidoProfesional"></ion-input>
                            </ion-item>
                                <ion-item>
                                <ion-label stacked>Nombre </ion-label>
                                <ion-input  disabled formControlName="nombreProfesional" type="text" class="form-control" name="nombreProfesional" id="nombreProfesional"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>Mail </ion-label>
                                <ion-input disabled formControlName="mailProfesional" type="text" class="form-control" name="mailProfesional" id="mailProfesional"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>Profesion</ion-label>
                                <ion-input disabled formControlName="profesionProfesional" type="text" class="form-control" name="profesionProfesional" id="profesionProfesional"></ion-input>
                            </ion-item>
                                <ion-item>
                                <ion-label stacked>Especialidad </ion-label>
                                <ion-input  disabled formControlName="especialidadProfesional" type="text" class="form-control" name="especialidadProfesional" id="especialidadProfesional"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>Telefono </ion-label>
                                <ion-input disabled formControlName="telefonoProfesional" type="text" class="form-control" name="telefonoProfesional" id="telefonoProfesional"></ion-input>
                            </ion-item>
                        </div>
                    </ion-col> 
                </ion-row>
            </ion-col>
            <!-- <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3> -->
            <ion-col col-12 col-lg-4 col-sm-12>
                <ion-row class="alturaMinima">
                    <ion-col col-12 col-lg-12 col-sm-12>
                        <div class="card2 card-container">
                            <h3>Fechas<div id="preloadfont" >.</div></h3>
                            <ion-row>
                                <ion-col col-12 col-lg-6>
                                    <ion-item>
                                            <ion-label stacked>Fecha de transaccion</ion-label>
                                            <ion-datetime displayFormat="DD de MM, YYYY" disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="fechaTransaccionMysql" type="text" class="form-control" name="fechaTransaccion" id="fechaTransaccion"></ion-datetime>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-12 col-lg-6>
                                    <ion-item>
                                        <ion-label stacked>Fecha de pago</ion-label>
                                        <ion-datetime displayFormat="DD de MM, YYYY" disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="fechaPagoMysql"  type="text" class="form-control" name="fechaPago" id="fechaPago" ></ion-datetime>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-col>
                    <ion-col class="alturaMinima" col-12 col-lg-12 col-sm-12>
                        <div class="card2 card-container">
                            <h2 style="margin-top: 0.3rem;" >Datos del titular de la tarjeta</h2>
                            <input id="docType" data-checkout="docType" type="hidden" value="DNI"/>
            
                            <ion-item>
                                <ion-label for="docNumber" stacked>DNI </ion-label>
                                <ion-input value="34159181" formControlName="dniCliente" type="number" class="form-control"
                                id="docNumber" data-checkout="docNumber"
                                [class.errorClubHonorarios]="!formulario.controls.dniCliente.valid && submitAttempt"></ion-input>
                            </ion-item>
                            <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.dniCliente.valid  && submitAttempt">Por favor, ingrese el DNI</p>
            
                            <ion-item>
                                <ion-label stacked>Apellido *</ion-label>
                                <ion-input value="Gomez" formControlName="apellidoCliente" type="text" class="form-control" name="apellidoCliente" id="apellidoCliente" (ionChange)='completarNombre()'
                                [class.errorClubHonorarios]="!formulario.controls.apellidoCliente.valid &&  submitAttempt"></ion-input>
                            </ion-item>
                            <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.apellidoCliente.valid  && submitAttempt">Por favor, ingrese el apellido</p>
            
                            <ion-item>
                                <ion-label stacked>Nombre *</ion-label>
                                <ion-input value="Kevin1" formControlName="nombreCliente" type="text" class="form-control" name="nombreCliente" id="nombreCliente" (ionChange)='completarNombre()'
                                [class.errorClubHonorarios]="!formulario.controls.nombreCliente.valid && submitAttempt"></ion-input>
                            </ion-item>
                            <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.nombreCliente.valid  && submitAttempt">Por favor, ingrese el nombre</p>
            
                            <input type="hidden" id="cardholderName" [(ngModel)]="cardholderName" [ngModelOptions]="{standalone: true}" data-checkout="cardholderName"/>
            
                            <ion-item>
                                <ion-label stacked>Celular (0 + Cod Area + 15 + Num. Ej: 0381154889977) </ion-label>
                                <ion-input formControlName="telefonoCliente" type="text" class="form-control" name="telefonoCliente" id="telefonoCliente"></ion-input>
                            </ion-item>
            
                            <ion-item>
                                <ion-label for="email" stacked>Mail (Se usara para el envio del comprobante de pago)</ion-label>
                                <ion-input value="masterk63@gmail.com" formControlName="mailCliente" type="text" class="form-control" id="email" name="email"></ion-input>
                            </ion-item>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-12 col-lg-4 col-sm-12>
                <ion-row class="alturaMinima">
                    <ion-col col-lg-12 class="alturaMinima">
                        <div class="card2 card-container">
                            <h2>Informacion de operacion</h2>
                            <ion-item>
                                <ion-label stacked>Importe de venta</ion-label>
                                <ion-input value="100" formControlName="importeVenta" (ionChange)='autoCompletarImportes()' type="number" step="0.05" class="form-control" name="importeVenta" id="importeVenta" [class.errorClubHonorarios]="!formulario.controls.importeVenta.valid &&  submitAttempt"></ion-input>
                            </ion-item>
                            <p style="color:red;" style="color:red;" class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.importeVenta.valid  && submitAttempt">Ingrese el importe de venta</p>
                            
                            <div id="imagenTajeta">
                                <ion-item>
                                    <ion-label for="cardNumber" stacked>Numero de Tarjeta de Credito:</ion-label>
                                    <ion-input formControlName="numeroTarjeta" type="text" id="cardNumber" data-checkout="cardNumber" value="4509953566233704" (ionChange)="devolverNombreDeTarjeta($event)"> </ion-input>
                                </ion-item> 
                                <img [src]="urlBannerTarjeta"  alt=""> 
                                <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.numeroTarjeta.valid  && submitAttempt">Por favor, ingrese el Numero de la Tarjeta de Credito</p>
                            </div>
                           
            
                            <ion-item>
                                <ion-label for="issuer" stacked>Elija el banco *</ion-label>
                                <ion-select [disabled]="!formulario.controls.numeroTarjeta.valid" formControlName="bancos" id="issuer" name="issuer" (ionChange)='obtenerCuotasMP($event)'>
                                    <ion-option *ngFor="let b of listadoBancos" value="{{b.id}}">{{b.name}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.bancos.valid  && submitAttempt">Por favor, elija un Banco</p>
            
                            <ion-item>
                                <ion-label for="installments" stacked>Elija cantidad de cuotas *</ion-label>
                                <ion-select [disabled]="!formulario.controls.bancos.valid" [ngModelOptions]="{standalone: true}" [(ngModel)]='cantCoutas'
                                id="installments" name="installments" (ionChange)='autoCompletarImportes()'>
                                    <ion-option *ngFor="let c of listaCuotas" value="{{c.installments}}">{{c.installments}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.cuotas.valid  && submitAttempt">Por favor, elija la cantidad de cuotas</p>
                            
                            <ion-row>
                                <ion-col col-12 col-lg-4 col-md-12>
                                    <ion-item>
                                        <ion-label for="securityCode" stacked>Codigo de Seguridad</ion-label>
                                        <ion-input formControlName="codSeguridad" type="text" id="securityCode" data-checkout="securityCode" value="123"> </ion-input>
                                    </ion-item>
                                    <!-- <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.codSeguridad.valid  && submitAttempt">Por favor, ingrese codigo de Seguridad</p> -->
                                </ion-col>
                                <ion-col col-12 col-lg-4 col-md-12>
                                    <ion-item>
                                        <ion-label for="cardExpirationMonth" stacked>Mes de Expiracion</ion-label>
                                        <ion-input formControlName="cardExpirationMonth" type="number" id="cardExpirationMonth" data-checkout="cardExpirationMonth" value="12"> </ion-input>
                                    </ion-item>
                                    <!-- <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.cardExpirationMonth.valid  && submitAttempt">Por favor, ingrese el mes de Expiracion</p> -->
                                </ion-col>
                                <ion-col col-12 col-lg-4 col-md-12>
                                <ion-item>
                                    <ion-label for="cardExpirationYear" stacked>Año de Expiracion</ion-label>
                                    <ion-input formControlName="cardExpirationYear" type="number" id="cardExpirationYear" data-checkout="cardExpirationYear" value="2018"> </ion-input>
                                </ion-item>
                                <!-- <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.cardExpirationYear.valid  && submitAttempt">Por favor, ingrese el año de Expiracion</p> -->
                                </ion-col>
                            </ion-row>
                            
                            <ion-row>
                                <ion-col col-12 col-lg-6 col-md-12>
                                    <ion-item>
                                        <ion-label class="letraFuerte"  stacked>Importe a cobrar</ion-label>
                                        <ion-input disabled formControlName="importeCobrar" type="number" step="0.05" class="form-control importes" name="importeCobrar" id="importeCobrar"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-12 col-lg-6 col-md-12>
                                    <ion-item>
                                        <ion-label class="letraFuerte" stacked>Importe de cuotas</ion-label>
                                        <ion-input disabled formControlName="importeCuota" type="number" step="0.05" class="form-control importes" name="importeCuota" id="importeCuota"></ion-input>
                                    </ion-item> 
                                </ion-col>
                            </ion-row>

                            <ion-item>
                                <ion-label class="letraFuerte"  stacked >Importe total de transaccion</ion-label>
                                <ion-input disabled formControlName="importeCarga"  type="number" step="0.05" class="form-control importes" name="importeCarga" id="importeCarga"></ion-input>
                            </ion-item>

                            <button float-right color="secondary" ion-button type="submit" (click)="pagar()">Pagar</button>
                        </div>
                    </ion-col> 
                </ion-row>
            </ion-col>         
        </ion-row>
    </ion-grid>        
    </form>
</ion-content>
