.split-pane-md.split-pane-visible > .split-pane-side {
    border-right: none !important;
}

.menuStyle .scroll-content{
    border-right: 1px solid #dedede;
}
    
.titleMenu{
    margin: 5px auto;
    display: block;
    width: 136px;
}

.toolbar-md {
    padding: 4px;
    min-height: 67px !important;
}