.split-pane-md.split-pane-visible > .split-pane-side {
    border-right: none !important;
}

.menuStyle .scroll-content{
    border-right: 1px solid #dedede;
    background: rgb(75, 77, 86);
}
    
.titleMenu{
    margin: 5px auto;
    display: block;
    width: 136px;
}

.toolbar-md {
    padding: 4px;
    min-height: 67px !important;
}

.scroll-content {
    height: auto !important;
}

.menuStyle ion-list-header{
    font-size: 1em;
    color: black !important;
    font-weight: bold !important;
    margin-bottom: 0 !important;
    cursor: pointer;
    margin-top: 2px;
    border-top: 0px solid !important;
    background: rgb(75, 77, 86);
    color: #F1F1F1 !important;
}

.menuStyle ion-icon{
    margin-right: 5px !important;
}

.menuStyle button{
    margin-left: 20px;
    background: rgb(75, 77, 86) !important;
    color: #F1F1F1 !important;
}

.menuStyle button .item-inner{
    border-bottom: 0px solid !important;
} 

ion-nav .scroll-content{
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
}

@media (min-width: 768px) { 
    ion-menu {
        max-width: 250px!important;
        margin-left: -198px;
    }

    ion-menu ion-title {
        display: none;
    }

    ion-menu:hover {
        margin-left: 0px;
    }

    ion-menu:hover ion-title {
      display: block;
    }
}