page-lista-operaciones {
    // @media only screen and (min-width: 768px) {
    //     .ocultarMenu {
    //         display: none;
    //     }
    // }

    
    .mat-cell:nth-child(1),
    .mat-header-cell:nth-child(1),{
        flex: 0 0 100px;
    }

    .mat-cell:nth-child(2),
    .mat-header-cell:nth-child(2),{
        flex: 0 0 80px;
    }
    .mat-cell:nth-child(3),
    .mat-header-cell:nth-child(3),{
        flex: 0 0 160px;
    }
    .mat-cell:nth-child(4),
    .mat-header-cell:nth-child(4),{
        flex: 0 0 100px;
    }
    .mat-cell:nth-child(5),
    .mat-header-cell:nth-child(5),{
        flex: 0 0 100px;
    }
    .mat-cell:nth-child(6),
    .mat-header-cell:nth-child(6),{
        flex: 0 0 100px;
    }
    .mat-cell:nth-child(7),
    .mat-header-cell:nth-child(7),{
        flex: 0 0 120px;
    }
    .mat-cell:nth-child(8),
    .mat-header-cell:nth-child(8),{
        flex: 0 0 110px;
    }
    .mat-cell:nth-child(9),
    .mat-header-cell:nth-child(9),{
        flex: 0 0 160px;
    }
    .mat-cell:nth-child(10),
    .mat-header-cell:nth-child(10),{
        flex: 0 0 190px;
    }
    .mat-cell:nth-child(11),
    .mat-header-cell:nth-child(11),{
        flex: 0 0 120px;
    }
    .mat-cell:nth-child(12),
    .mat-header-cell:nth-child(12),{
        flex: 0 0 120px;
    }

    mat-cell, mat-header-cell{
        min-width: 10px;
    }
  
  .mat-table {
    overflow: scroll;
    overflow-x:auto;
    max-height: 500px;
  }
    
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }


  
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }

    .scroll-content{
        background: #F1F1F1 !important;
    }

    .soporte-mesa-header {
        background-color: #424551;
        background-image: url(https://micuenta.donweb.com/img/bg_soporte.jpg);
        text-align: center;
    }

    .soporte-mesa-header .container-content {
        // padding: 75px 75px 90px;
        padding: 5% 0% 8%;
    }

    .soporte-mesa-header h4 {
        color: #FFF;
        margin-bottom: 18px;
        font-weight: 400;
        font-size: 24px;
        
    }

    .soporte-mesa-header, .soporte-mesa-header * {
        transition: all .3s ease-in-out;
    }

    .input-icon-container {
        position: relative;
        width: 75%;
        margin: 0 auto;
    }

    .soporte-mesa-header .campoFiltro {
        border: 1px solid #B0BFC6;
        color: #B0BFC6;
        border-radius: 3px;
        background-color: rgba(0,0,0,0.15);
        padding: 5px 10px;
        font-size: 20px;
        height: inherit;
        box-sizing: border-box;
        width: 100%;
    }

    .input-icon-container ion-icon {
        position: absolute;
        right: 25px;
        top: 4px;
        font-size: 48px;
        cursor: pointer;
        color: #B0BFC6;
    }

    h3 {
        font-size: 32px;
        line-height: 52px;
        color: #5c5f69;
        font-weight: 300;
        margin-left: 8px;
    }

    .col ion-icon{
        margin-right: 8px;
    }

    ion-card-content{
        color: #868686 !important;
    }

    p{
        margin-left: 8px;
        word-break: break-all;
        white-space: normal;    
    }

    td{
        word-break: break-all;
        white-space: normal;   
    }

  
    

    
}
