Skip to content This repository Search Pull requests Issues Marketplace Explore @rickybruno89 Sign out 2 0 0 ingeit/chpaginaweb
Code Issues 0 Pull requests 0 Projects 0 Wiki Insights chpaginaweb/clubhonorariospagina/profesionales/src/pages/lista-operaciones/lista-operaciones.html
334ab63 6 hours ago @rickybruno89 rickybruno89 tabla operaciones materialze 252 lines (233 sloc) 11.9 KB
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="ir()">
      <img class="titleMenu ocultarMenu" src="https://clubhonorarios.com/img/logo/logo-max.png" />
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <div class="soporte-mesa-header">
    <div class="container-content">
      <h4>Filtra por fecha</h4>
      <ion-row class="input-icon-container">
        <ion-col col-12 col-sm>
          <ion-item class="campoFiltro">
            <ion-label>Fecha Inicio</ion-label>
            <ion-datetime displayFormat="DD/MMM/YYYY" min="2016" [(ngModel)]="fechaInicio"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="campoFiltro" col-12 col-sm>
            <ion-label>Fecha Fin</ion-label>
            <ion-datetime displayFormat="DD/MMM/YYYY" min="2016" [(ngModel)]="fechaFin"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button (click)="filtrar()" ion-button color="letra" style="width:75%;padding: 22px 0px;" outline>Filtrar</button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ion-grid col-10>
    <ion-row>
      <button (click)="nuevaOperacion()" ion-button color="light">
        <ion-icon name="book"></ion-icon>
        Nueva Operacion MP
      </button>
      <button (click)="cargarOperacion()" ion-button color="light">
        <ion-icon name="book"></ion-icon>
        Cargar Operacion en Base de Datos
      </button>
      <button *ngIf="mostrarTarjetas" (click)="exportar()" ion-button color="light">
        <ion-icon name="book"></ion-icon>
        Exportar
      </button>
      <ion-col col-12>
        <h3>Operaciones</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="mostrarTarjetas">
          <p> Se encontraron {{Operaciones.length}} Operacion/es.</p>
          <p>Monto total de venta: ${{montoTotal}}</p>
        </div>
      </ion-col>
    </ion-row>

    <div *ngIf="mostrarTarjetas">
      <ion-row>
        <ion-col>
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="Operaciones">
              <ng-container matColumnDef="idOperacion">
                <mat-header-cell *matHeaderCellDef> Op. Nº </mat-header-cell>
                <mat-cell *matCellDef="let o"> {{o.idOperacion}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="tipoOperacion">
                <mat-header-cell *matHeaderCellDef> Tipo de Operacion </mat-header-cell>
                <mat-cell *matCellDef="let o"> {{o.tipoOperacion}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="profesional">
                <mat-header-cell *matHeaderCellDef> Apellido y Nombre Prof. </mat-header-cell>
                <mat-cell *matCellDef="let o"> {{o.apellidoProfesional | uppercase}}, {{o.nombreProfesional}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dniProfesional">
                <mat-header-cell *matHeaderCellDef> DNI Prof. </mat-header-cell>
                <mat-cell *matCellDef="let o"> {{o.dniProfesional}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="fechaTransaccion">
                <mat-header-cell *matHeaderCellDef> Fecha de Operacion </mat-header-cell>
                <mat-cell *matCellDef="let o"> {{o.fechaTransaccion | date:'dd/MM/yy H:m'}} Hs </mat-cell>
              </ng-container>
              <ng-container matColumnDef="fechaPago">
                <mat-header-cell *matHeaderCellDef> Fecha de Pago </mat-header-cell>
                <mat-cell *matCellDef="let o"> {{o.fechaPago | date:'dd/MM/yy'}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="importes">
                <mat-header-cell *matHeaderCellDef> Importes </mat-header-cell>
                <mat-cell *matCellDef="let o"> Venta: ${{o.importeVenta}}
                  <br>Carga: ${{o.importeCarga}}
                  <br> Honorarios: ${{o.importeCobrar}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="cupon">
                <mat-header-cell *matHeaderCellDef> Cupon Nº </mat-header-cell>
                <mat-cell *matCellDef="let o"> {{o.cupon}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="Acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let o">
                  <div class="button-row">
                    <button mat-button routerLink (click)="verOperacion(o)">Ver</button>
                  </div>
                  <div class="button-row">
                    <button mat-button color="primary" *ngIf="o.estadoPago == 'A PAGAR'" (click)="botonPagarOperacion(o.idOperacion)">Pagar</button>
                  </div>
                  <div class="button-row">
                    <button mat-button color="warn" (click)="botonEliminar(o.idOperacion)">Eliminar</button>
                  </div>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
              <mat-row *matRowDef="let rowData; columns: columnsToDisplay;"></mat-row>
            </mat-table>
          </div>


          <!-- <ion-card *ngFor="let o of Operaciones">
            <ion-row>
              <ion-col col-10>
                <ion-item>
                  <ion-avatar item-start>
                    <i class="fa fa-2x" [ngClass]="setClasses(o.tarjeta)" aria-hidden="true"></i>
                  </ion-avatar>
                  <h2>Operacion Nº: {{ o.idOperacion }}</h2>
                  <p>Profesional: {{o.apellidoProfesional | uppercase}}, {{o.nombreProfesional}} - DNI: {{o.dniProfesional}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-2 *ngIf="o.estadoPago == 'A PAGAR'">
                <ion-item>
                  <button ion-button (click)="botonPagarOperacion(o.idOperacion)">PAGAR</button>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-card-content>
              <ion-col col-3>
                Fecha de transaccion: {{o.fechaTransaccion | date:'dd/MM/yy H:mm'}}
                <br> Fecha de pago: {{o.fechaPago | date:'dd/MM/yy'}}
                <br> Estado de pago: {{o.estadoPago}}
                <br> Tipo de operación: {{o.tipoOperacion}}

              </ion-col>
              <ion-col col-3>
                Medio de pago: {{o.nombreTarjeta}} - {{o.cuotas}} cuotas
                <br>CodAuto: {{o.codigoAuto}} &bull; Cupon: {{o.cupon}}
              </ion-col>

            </ion-card-content>

            <ion-row class="row" no-padding="">
              <ion-col col-4 col-sm class="col">
               
                <button tooltip="Importe de venta" positionV="top" duration="1500" arrow clear="" color="secondary" icon-start="" ion-button=""
                  small="" class="disable-hover button button-md button-clear button-clear-md button-small button-small-md button-clear-md-secondary"
                  style="transition: none;">
                  <span class="button-inner">
                    <ion-icon name="cart"></ion-icon>
                    $ {{o.importeVenta}}
                  </span>
                  <div class="button-effect"></div>
                </button>
              </ion-col>
              <ion-col col-4 col-sm class="col" text-center>
                <button tooltip="Importe de carga" positionV="top" duration="1500" arrow clear="" color="secondary" icon-start="" ion-button=""
                  small="" class="disable-hover button button-md button-clear button-clear-md button-small button-small-md button-clear-md-secondary"
                  style="transition: none;">
                  <span class="button-inner">
                    <ion-icon name="card"></ion-icon>
                    $ {{o.importeCarga}}
                  </span>
                  <div class="button-effect"></div>
                </button>
              </ion-col>
              <ion-col col-4 col-sm class="col" text-right>
                <button tooltip="Importe a cobrar" positionV="top" duration="1500" arrow clear="" color="secondary" icon-start="" ion-button=""
                  small="" class="disable-hover button button-md button-clear button-clear-md button-small button-small-md button-clear-md-secondary">
                  <span class="button-inner">
                    <ion-icon name="cash"></ion-icon>
                    $ {{o.importeCobrar}}
                  </span>
                  <div class="button-effect"></div>
                </button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col titulo" style="padding: 8px 28px;" text-center>
                <button (click)="verOperacion(o)" style="color: #515e70;" icon-start="" ion-button="" small="" class="disable-hover button button-md button-clear button-clear-md button-small button-small-md button-clear-md-secondary">
                  <span class="button-inner">
                    <ion-icon name="share-alt" role="img" class="icon icon-md ion-md-share-alt" aria-label="share alt"></ion-icon>
                    Ver
                  </span>
                  <div class="button-effect"></div>
                </button>
              </ion-col>
            </ion-row>
          </ion-card> -->
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!mostrarTarjetas">
      <h3> No se encontraron Operaciones</h3>
    </div>

  </ion-grid>


</ion-content>