 <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title><img class="titleMenu ocultarMenu" src="http://clubhonorarios.com/img/logo/logo-max.png" /></ion-title>
  </ion-navbar>
</ion-header> 



<ion-content padding>
  <div class="contenedor"> 
      <div class="card2 card-container">
        <h2>Codigos</h2>
          <ion-item>
              <ion-label stacked>CUPON</ion-label>
          </ion-item>
      </div>
      
      <div class="bloque card-container" style="max-width: 1000px;">
        <div class="titulo">
          <span>Datos Previos</span>
          <!-- Este div me ayuda a que se carguen los CSS. pequeño truco -->
          <div id="preloadfont" >.</div>
        </div>

        <canvas style="display:none" #myCanvas></canvas>

        <img [src]="urlImagenCanvasAzul" *ngIf="imagenEditadaAzul" imageViewer alt="">

        <img [src]="urlImagenCanvas" *ngIf="imagenEditada" imageViewer alt="">
      </div>
  </div>
</ion-content>
