<ion-header>
  <ion-navbar>
    <ion-title>
      My Calendar App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="barraAño">
    <ion-row >
      <ion-col col-2 (click)="irAlAnioAnterior()"><ion-icon name="arrow-back"></ion-icon></ion-col>
      <ion-col col-8>{{currentYear}}</ion-col>
      <ion-col col-2 (click)="irAlAnioSiguiente()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </div>
  <div *ngFor="let mes of arrayAlmanaqueThis, let i = index">
  <div class="container">
    <div class="calendar-header">
        
        <ion-row class="calendar-month">
          <ion-col class="tituloMes" col-8> {{ monthNames[i]}} de {{currentYear}}</ion-col>
        </ion-row>
      </div>
    <div class="calendar-body">
        <ion-grid>
          <ion-row class="calendar-weekday">
            <ion-col>Do</ion-col>
            <ion-col>Lu</ion-col>
            <ion-col>Ma</ion-col>
            <ion-col>Mi</ion-col>
            <ion-col>Ju</ion-col>
            <ion-col>Vi</ion-col>
            <ion-col>Sa</ion-col>
          </ion-row>
           
          <ion-row class="calendar-date">
            <ion-col  *ngFor="let day of mes, let j = index" class="cuadroDia" col-1 >
              <button *ngIf="day.diaHabil === 'si'" (click)="click(i,j)" class="diaHabilSi" >{{day.fecha}}</button>
              <button *ngIf="day.diaHabil === 'no'" (click)="click(i,j)" class="diaHabilNo" >{{day.fecha}}</button>
            </ion-col>
          </ion-row>
         
        </ion-grid>
      </div>
    </div>
  </div> 
        <button [disabled]="contador === 0" float-right color="secondary" ion-button type="submit" (click)="guardarCambios()">Guardar cambios</button>
</ion-content>