<ion-header>
  <ion-navbar>
    <ion-title>
      My Calendar App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="barraAño">
    <ion-row >
      <ion-col col-2 (click)="irAlAnioAnterior()"><ion-icon name="arrow-back"></ion-icon></ion-col>
      <ion-col col-8>{{currentYear}}</ion-col>
      <ion-col col-2 (click)="irAlAnioSiguiente()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </div>
  <div class="container">
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col class="tituloMes" col-8>Enero de {{currentYear}}</ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Do</ion-col>
        <ion-col>Lu</ion-col>
        <ion-col>Ma</ion-col>
        <ion-col>Mi</ion-col>
        <ion-col>Ju</ion-col>
        <ion-col>Vi</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
          <ion-col col-1 *ngFor="let lastDay of ene0" class="last-month">{{lastDay}}</ion-col>
        <ion-col  *ngFor="let day of ene1, let i = index" class="cuadroDia" col-1 >
          <button *ngIf="day.diaHabil === 'si'" (click)="click(0,i)" class="diaHabilSi" >{{day.fecha}}</button>
          <button *ngIf="day.diaHabil === 'no'" (click)="click(0,i)" class="diaHabilNo" >{{day.fecha}}</button>
        </ion-col>
        <ion-col *ngFor="let nextDay of ene2" class="next-month" col-1>{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

  <div class="container">
  <div class="calendar-header">
      <ion-row class="calendar-month">
        <ion-col class="tituloMes" col-8>Febrero de {{currentYear}}</ion-col>
      </ion-row>
    </div>
  <div class="calendar-body">
      <ion-grid>
        <ion-row class="calendar-weekday">
          <ion-col>Do</ion-col>
          <ion-col>Lu</ion-col>
          <ion-col>Ma</ion-col>
          <ion-col>Mi</ion-col>
          <ion-col>Ju</ion-col>
          <ion-col>Vi</ion-col>
          <ion-col>Sa</ion-col>
        </ion-row>
        <ion-row class="calendar-date">
            <ion-col col-1 *ngFor="let lastDay of feb0" class="last-month">{{lastDay}}</ion-col>
          <ion-col  *ngFor="let day of feb1, let i = index" class="cuadroDia" col-1 >
            <button *ngIf="day.diaHabil === 'si'" (click)="click(1,i)" class="diaHabilSi" >{{day.fecha}}</button>
            <button *ngIf="day.diaHabil === 'no'" (click)="click(1,i)" class="diaHabilNo" >{{day.fecha}}</button>
          </ion-col>
          <ion-col *ngFor="let nextDay of feb2" class="next-month" col-1>{{nextDay}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
    
    <div class="container">
    <div class="calendar-header">
        <ion-row class="calendar-month">
          <ion-col class="tituloMes" col-8>Marzo de {{currentYear}}</ion-col>
        </ion-row>
      </div>
    <div class="calendar-body">
        <ion-grid>
          <ion-row class="calendar-weekday">
            <ion-col>Do</ion-col>
            <ion-col>Lu</ion-col>
            <ion-col>Ma</ion-col>
            <ion-col>Mi</ion-col>
            <ion-col>Ju</ion-col>
            <ion-col>Vi</ion-col>
            <ion-col>Sa</ion-col>
          </ion-row>
          <ion-row class="calendar-date">
              <ion-col col-1 *ngFor="let lastDay of mar0" class="last-month">{{lastDay}}</ion-col>
            <ion-col  *ngFor="let day of mar1, let i = index" class="cuadroDia" col-1 >
              <button *ngIf="day.diaHabil === 'si'" (click)="click(2,i)" class="diaHabilSi" >{{day.fecha}}</button>
              <button *ngIf="day.diaHabil === 'no'" (click)="click(2,i)" class="diaHabilNo" >{{day.fecha}}</button>
            </ion-col>
            <ion-col *ngFor="let nextDay of mar2" class="next-month" col-1>{{nextDay}}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    
      <div class="container">
      <div class="calendar-header">
          <ion-row class="calendar-month">
            <ion-col class="tituloMes" col-8>Abril de {{currentYear}}</ion-col>
          </ion-row>
        </div>
      <div class="calendar-body">
          <ion-grid>
            <ion-row class="calendar-weekday">
              <ion-col>Do</ion-col>
              <ion-col>Lu</ion-col>
              <ion-col>Ma</ion-col>
              <ion-col>Mi</ion-col>
              <ion-col>Ju</ion-col>
              <ion-col>Vi</ion-col>
              <ion-col>Sa</ion-col>
            </ion-row>
            <ion-row class="calendar-date">
                <ion-col col-1 *ngFor="let lastDay of abr0" class="last-month">{{lastDay}}</ion-col>
              <ion-col  *ngFor="let day of abr1, let i = index" class="cuadroDia" col-1 >
                <button *ngIf="day.diaHabil === 'si'"(click)="click(3,i)" class="diaHabilSi" >{{day.fecha}}</button>
                <button *ngIf="day.diaHabil === 'no'"(click)="click(3,i)" class="diaHabilNo" >{{day.fecha}}</button>
              </ion-col>
              <ion-col *ngFor="let nextDay of abr2" class="next-month" col-1>{{nextDay}}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    
        <div class="container">
        <div class="calendar-header">
            <ion-row class="calendar-month">
              <ion-col class="tituloMes" col-8>Mayo de {{currentYear}}</ion-col>
            </ion-row>
          </div>
        <div class="calendar-body">
            <ion-grid>
              <ion-row class="calendar-weekday">
                <ion-col>Do</ion-col>
                <ion-col>Lu</ion-col>
                <ion-col>Ma</ion-col>
                <ion-col>Mi</ion-col>
                <ion-col>Ju</ion-col>
                <ion-col>Vi</ion-col>
                <ion-col>Sa</ion-col>
              </ion-row>
              <ion-row class="calendar-date">
                  <ion-col col-1 *ngFor="let lastDay of may0" class="last-month">{{lastDay}}</ion-col>
                <ion-col  *ngFor="let day of may1, let i = index" class="cuadroDia" col-1 >
                  <button *ngIf="day.diaHabil === 'si'"(click)="click(4,i)" class="diaHabilSi" >{{day.fecha}}</button>
                  <button *ngIf="day.diaHabil === 'no'"(click)="click(4,i)" class="diaHabilNo" >{{day.fecha}}</button>
                </ion-col>
                <ion-col *ngFor="let nextDay of may2" class="next-month" col-1>{{nextDay}}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
    
          <div class="container">
          <div class="calendar-header">
              <ion-row class="calendar-month">
                <ion-col class="tituloMes" col-8>Junio de {{currentYear}}</ion-col>
              </ion-row>
            </div>
          <div class="calendar-body">
              <ion-grid>
                <ion-row class="calendar-weekday">
                  <ion-col>Do</ion-col>
                  <ion-col>Lu</ion-col>
                  <ion-col>Ma</ion-col>
                  <ion-col>Mi</ion-col>
                  <ion-col>Ju</ion-col>
                  <ion-col>Vi</ion-col>
                  <ion-col>Sa</ion-col>
                </ion-row>
                <ion-row class="calendar-date">
                    <ion-col col-1 *ngFor="let lastDay of jun0" class="last-month">{{lastDay}}</ion-col>
                  <ion-col  *ngFor="let day of jun1, let i = index" class="cuadroDia" col-1 >
                    <button *ngIf="day.diaHabil === 'si'"(click)="click(5,i)" class="diaHabilSi" >{{day.fecha}}</button>
                    <button *ngIf="day.diaHabil === 'no'"(click)="click(5,i)" class="diaHabilNo" >{{day.fecha}}</button>
                  </ion-col>
                  <ion-col *ngFor="let nextDay of jun2" class="next-month" col-1>{{nextDay}}</ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
    
            <div class="container">
            <div class="calendar-header">
                <ion-row class="calendar-month">
                  <ion-col class="tituloMes" col-8>Julio de {{currentYear}}</ion-col>
                </ion-row>
              </div>
            <div class="calendar-body">
                <ion-grid>
                  <ion-row class="calendar-weekday">
                    <ion-col>Do</ion-col>
                    <ion-col>Lu</ion-col>
                    <ion-col>Ma</ion-col>
                    <ion-col>Mi</ion-col>
                    <ion-col>Ju</ion-col>
                    <ion-col>Vi</ion-col>
                    <ion-col>Sa</ion-col>
                  </ion-row>
                  <ion-row class="calendar-date">
                      <ion-col col-1 *ngFor="let lastDay of jul0" class="last-month">{{lastDay}}</ion-col>
                    <ion-col  *ngFor="let day of jul1, let i = index" class="cuadroDia" col-1 >
                      <button *ngIf="day.diaHabil === 'si'"(click)="click(6,i)" class="diaHabilSi" >{{day.fecha}}</button>
                      <button *ngIf="day.diaHabil === 'no'"(click)="click(6,i)" class="diaHabilNo" >{{day.fecha}}</button>
                    </ion-col>
                    <ion-col *ngFor="let nextDay of jul2" class="next-month" col-1>{{nextDay}}</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
    
              <div class="container">
              <div class="calendar-header">
                  <ion-row class="calendar-month">
                    <ion-col class="tituloMes" col-8>Agosto de {{currentYear}}</ion-col>
                  </ion-row>
                </div>
              <div class="calendar-body">
                  <ion-grid>
                    <ion-row class="calendar-weekday">
                      <ion-col>Do</ion-col>
                      <ion-col>Lu</ion-col>
                      <ion-col>Ma</ion-col>
                      <ion-col>Mi</ion-col>
                      <ion-col>Ju</ion-col>
                      <ion-col>Vi</ion-col>
                      <ion-col>Sa</ion-col>
                    </ion-row>
                    <ion-row class="calendar-date">
                        <ion-col col-1 *ngFor="let lastDay of ago0" class="last-month">{{lastDay}}</ion-col>
                      <ion-col  *ngFor="let day of ago1, let i = index" class="cuadroDia" col-1 >
                        <button *ngIf="day.diaHabil === 'si'"(click)="click(7,i)" class="diaHabilSi" >{{day.fecha}}</button>
                        <button *ngIf="day.diaHabil === 'no'"(click)="click(7,i)" class="diaHabilNo" >{{day.fecha}}</button>
                      </ion-col>
                      <ion-col *ngFor="let nextDay of ago2" class="next-month" col-1>{{nextDay}}</ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
    
                <div class="container">
                <div class="calendar-header">
                    <ion-row class="calendar-month">
                      <ion-col class="tituloMes" col-8>Septiembre de {{currentYear}}</ion-col>
                    </ion-row>
                  </div>
                <div class="calendar-body">
                    <ion-grid>
                      <ion-row class="calendar-weekday">
                        <ion-col>Do</ion-col>
                        <ion-col>Lu</ion-col>
                        <ion-col>Ma</ion-col>
                        <ion-col>Mi</ion-col>
                        <ion-col>Ju</ion-col>
                        <ion-col>Vi</ion-col>
                        <ion-col>Sa</ion-col>
                      </ion-row>
                      <ion-row class="calendar-date">
                          <ion-col col-1 *ngFor="let lastDay of sep0" class="last-month">{{lastDay}}</ion-col>
                        <ion-col  *ngFor="let day of sep1, let i = index" class="cuadroDia" col-1 >
                          <button *ngIf="day.diaHabil === 'si'"(click)="click(8,i)" class="diaHabilSi" >{{day.fecha}}</button>
                          <button *ngIf="day.diaHabil === 'no'"(click)="click(8,i)" class="diaHabilNo" >{{day.fecha}}</button>
                        </ion-col>
                        <ion-col *ngFor="let nextDay of sep2" class="next-month" col-1>{{nextDay}}</ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </div>
    
                  <div class="container">
                  <div class="calendar-header">
                      <ion-row class="calendar-month">
                        <ion-col class="tituloMes" col-8>Octubre de {{currentYear}}</ion-col>
                      </ion-row>
                    </div>
                  <div class="calendar-body">
                      <ion-grid>
                        <ion-row class="calendar-weekday">
                          <ion-col>Do</ion-col>
                          <ion-col>Lu</ion-col>
                          <ion-col>Ma</ion-col>
                          <ion-col>Mi</ion-col>
                          <ion-col>Ju</ion-col>
                          <ion-col>Vi</ion-col>
                          <ion-col>Sa</ion-col>
                        </ion-row>
                        <ion-row class="calendar-date">
                            <ion-col col-1 *ngFor="let lastDay of oct0" class="last-month">{{lastDay}}</ion-col>
                          <ion-col  *ngFor="let day of oct1, let i = index" class="cuadroDia" col-1 >
                            <button *ngIf="day.diaHabil === 'si'"(click)="click(9,i)" class="diaHabilSi" >{{day.fecha}}</button>
                            <button *ngIf="day.diaHabil === 'no'"(click)="click(9,i)" class="diaHabilNo" >{{day.fecha}}</button>
                          </ion-col>
                          <ion-col *ngFor="let nextDay of oct2" class="next-month" col-1>{{nextDay}}</ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
                  </div>
                    
                    <div class="container">
                    <div class="calendar-header">
                        <ion-row class="calendar-month">
                          <ion-col class="tituloMes" col-8>Noviembre de {{currentYear}}</ion-col>
                        </ion-row>
                      </div>
                    <div class="calendar-body">
                        <ion-grid>
                          <ion-row class="calendar-weekday">
                            <ion-col>Do</ion-col>
                            <ion-col>Lu</ion-col>
                            <ion-col>Ma</ion-col>
                            <ion-col>Mi</ion-col>
                            <ion-col>Ju</ion-col>
                            <ion-col>Vi</ion-col>
                            <ion-col>Sa</ion-col>
                          </ion-row>
                          <ion-row class="calendar-date">
                              <ion-col col-1 *ngFor="let lastDay of nov0" class="last-month">{{lastDay}}</ion-col>
                            <ion-col  *ngFor="let day of nov1, let i = index" class="cuadroDia" col-1 >
                              <button *ngIf="day.diaHabil === 'si'"(click)="click(10,i)" class="diaHabilSi" >{{day.fecha}}</button>
                              <button *ngIf="day.diaHabil === 'no'"(click)="click(10,i)" class="diaHabilNo" >{{day.fecha}}</button>
                            </ion-col>
                            <ion-col *ngFor="let nextDay of nov2" class="next-month" col-1>{{nextDay}}</ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>

                      <div class="container">
                      <div class="calendar-header">
                          <ion-row class="calendar-month">
                            <ion-col class="tituloMes" col-8>Diciembre de {{currentYear}}</ion-col>
                          </ion-row>
                        </div>
                      <div class="calendar-body">
                          <ion-grid>
                            <ion-row class="calendar-weekday">
                              <ion-col>Do</ion-col>
                              <ion-col>Lu</ion-col>
                              <ion-col>Ma</ion-col>
                              <ion-col>Mi</ion-col>
                              <ion-col>Ju</ion-col>
                              <ion-col>Vi</ion-col>
                              <ion-col>Sa</ion-col>
                            </ion-row>
                            <ion-row class="calendar-date">
                                <ion-col col-1 *ngFor="let lastDay of dic0" class="last-month">{{lastDay}}</ion-col>
                              <ion-col  *ngFor="let day of dic1, let i = index" class="cuadroDia" col-1 >
                                <button *ngIf="day.diaHabil === 'si'"(click)="click(11,i)" class="diaHabilSi" >{{day.fecha}}</button>
                                <button *ngIf="day.diaHabil === 'no'"(click)="click(11,i)" class="diaHabilNo" >{{day.fecha}}</button>
                              </ion-col>
                              <ion-col *ngFor="let nextDay of dic2" class="next-month" col-1>{{nextDay}}</ion-col>
                            </ion-row>
                          </ion-grid>
                        </div>                              
                      </div>

        <button float-right color="secondary" ion-button type="submit" (click)="guardar()">Guardar cambios</button>
</ion-content>