page-calendario {
 
    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }
      .col {
        text-align: center;
        padding: 5px;
      }
      .last-month, .next-month {
        color: #999999;
        font-size: 90%;
      }
      .currentDate, .otherDate {
        padding: 5px;
      }
      
      .calendar-header {
        background-color: #E7E7E7;
        color: #1DA3D6;
        max-width: 397px;
      }
      .event-bullet {
        margin: 2px auto;
        height: 5px;
        width: 5px;
        background-color: green;
        border-radius: 30px;
      }
      .selected-date {
        width: 20px;
        height: 2px;
        background-color: blue;
      }
      .unselected-date {
        border: none;
      }
      .calendar-body {
        max-width: 400px;

        .grid {
          padding: 0;
        }
        .col:last-child {
          border-right: none;
        }
        .calendar-weekday, .calendar-date {
          text-align: center;
          margin: 0;
        }
        .calendar-weekday {
          font-weight: bold;
          background-color: #D8D8D8;
          color: #666666;
          border-bottom: solid 3px white;
          max-width: 397px;
        }

        .cuadroDia{
          background-color: #E7E7E7;
          border: solid 3px white;
        }

      }

      .feriadoSi {
        width: 41px;
        font-weight: bold;
        background-color: #FF8080;
        color: #333333;
      }
      .feriadoNo {
        width: 41px;
        font-weight: bold;
        background-color: #E7E7E7;
        color: #333333;
      }

}
