 <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> 
     <ion-title><img class="titleMenu ocultarMenu" src="http://clubhonorarios.com/img/logo/logo-max.png" /></ion-title>
  </ion-navbar>
</ion-header> 

<ion-content padding>
<!-- <a style="margin: 0px auto;display: block;width: fit-content;" href="#" (click)="url()"><img src="assets/banner.png" alt=""></a>
     -->
     <div *ngIf="mostrarBanner" class="soporte-mesa-header">
        <div class="overlay">
          <h1>¡DESCARGA LA APP!</h1>
          <a class="botonGoogle" href='https://play.google.com/store/apps/details?id=com.clubhonorarios.total&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Disponible en Google Play' src='assets/google-play-badge.png'/></a>
        </div>  
      </div> 
      <div class="contenedor">
        <div class="card2 card-container">
            <h3>Calculadora<div id="preloadfont" ></div></h3>
            <ion-list (ionChange)='radioTipoTarjeta()' radio-group [(ngModel)]="tipoTarjeta">
                   <h4>Seleccione el tipo de tarjeta</h4>
                <ion-item>
                    <ion-label>Tarjeta de Credito</ion-label>
                    <ion-radio (click)="move('formularioPrimerItem')" required value="credito" ></ion-radio>
                </ion-item>
                <ion-item >
                    <ion-label>Tarjeta de Debito</ion-label>
                    <ion-radio (click)="move('formularioPrimerItem')" required value="debito" ></ion-radio>
                </ion-item>
                <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="lapos === undefined && submitAttempt">Por favor, seleccione SI o NO</p>
              </ion-list>
        <ion-col  id="formularioPrimerItem">   
          <form *ngIf="tipoTarjeta!==null" [formGroup]="formulario" method="post" class="form-signin" id="myform" name="formulario">
              <ion-item>
                <ion-label stacked>Elija marca de la tarjeta</ion-label>
                    <ion-select (ionChange)='autoCompletarImportes()' interface="popover" formControlName="tarjeta">
                        <ion-option value="3">VISA</ion-option>
                        <ion-option value="2">MASTERCARD / MAESTRO</ion-option>
                        <ion-option value="1">AMERICAN EX.</ion-option>
                    </ion-select>
                </ion-item>
                <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.tarjeta.valid  &&  submitAttempt">Por favor, elija una tarjeta</p>
               <ion-item *ngIf="tipoTarjeta==='credito'">
                <ion-label stacked>Elija cantidad de cuotas *</ion-label>
                    <ion-select  (ionChange)='autoCompletarImportes()' interface="popover" formControlName="cuotas">
                        <ion-option value="02">2</ion-option>
                        <ion-option value="03">3</ion-option>
                        <ion-option value="04">4</ion-option>
                        <ion-option value="05">5</ion-option>
                        <ion-option value="06">6</ion-option>
                        <ion-option value="07">7</ion-option>
                        <ion-option value="08">8</ion-option>
                        <ion-option value="09">9</ion-option>
                        <ion-option value="10">10</ion-option>
                        <ion-option value="11">11</ion-option>
                        <ion-option value="12">12</ion-option>
                    </ion-select>
                </ion-item>
              <p style="color:red;"  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.cuotas.valid  && submitAttempt">Por favor, elija la cantidad de cuotas</p>
              <ion-item>
                  <ion-label stacked>Importe de venta(Este importe se debera completar en cupon azul)</ion-label>
                  <ion-input formControlName="importeVenta" (ionChange)='autoCompletarImportes()' type="number" step="0.05" class="form-control" name="importeVenta" id="importeVenta" [class.errorClubHonorarios]="!formulario.controls.importeVenta.valid &&  submitAttempt"></ion-input>
              </ion-item>
              <p style="color:red;" style="color:red;" class="help-block text-danger errorClubHonorarios errorP" *ngIf="!formulario.controls.importeVenta.valid  && submitAttempt">Ingrese el importe de venta</p>
              
               <ion-item>
                  <ion-label class="letraFuerte"  stacked>Importe a cobrar</ion-label>
                  <ion-input disabled formControlName="importeCobrar" type="number" step="0.05" class="form-control importes" name="importeCobrar" id="importeCobrar"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label class="letraFuerte"  stacked >Importe total de transaccion (Este importe se carga en LAPOS/WEB)</ion-label>
                  <ion-input disabled formControlName="importeCarga"  type="number" step="0.05" class="form-control importes" name="importeCarga" id="importeCarga"></ion-input>
              </ion-item>
              <ion-item *ngIf="tipoTarjeta==='credito'">
                  <ion-label class="letraFuerte" stacked>Importe de cuotas</ion-label>
                  <ion-input disabled formControlName="importeCuota" type="number" step="0.05" class="form-control importes" name="importeCuota" id="importeCuota"></ion-input>
              </ion-item>
        </form>
        </ion-col>
            <button  *ngIf="tipoTarjeta!==null" float-right color="secondary" style="margin-top:15px;"ion-button type="submit" (click)="nuevoCalculo()">Nuevo Calculo</button>
        </div>
    </div>
</ion-content>
