

/*Color del tema*/
	.navbar-custom .navbar-nav>.active>a, .btn-xl, .navbar-custom .navbar-toggle{
			background-color:#FF6F08 !important;
			border-color: #FF6F08 !important;
	}

	.text-primary{
		color: #FF6F08 !important;
	}

	.linkCond{
		color:red !important;
	}

/*FIN COLOR TEMA*/

.p1 {
    font-size: 17px;
    line-height: 1.75;
		color: #777;
}

.timeline>li .timeline-image {
	    background-color: white !important;
			border: 7px solid white !important;
			
}

.img-circle {
    border-radius: 0% !important;
}


@media (min-width: 768px){
    header .intro-text {
    padding-top: 250px !important;
    }  
    header .intro-text .intro-heading {
        font-weight: 300 !important;
        font-size: 4em !important;
    }
	ul li.timeline-inverted .flip-container.vertical .flipper .timeline-panel{
  	padding: 0 20px 0 30px !important;
	}

	.front .timeline-panel{
		margin-top: 50px !important;
	}

}

@media (max-width: 768px ){
    header .intro-text .intro-heading {
        font-weight: 300 !important;
        font-size: 2em !important;
    }
		ul li.timeline-inverted .flip-container.vertical .flipper .timeline-panel{
  		padding: 0 20px 0 100px !important;
		}
		.navbar-custom{
    background-color: #002775 !important;
		}

		.logo-principal{
			width: 120px !important;
		}
}

@media (min-width: 769px) and (max-width: 991px){
		.logo-principal{
			width: 150px !important;
		}
}

.btn-xl{
    background-color: #FF6F08 !important;
    border-color: #FF6F08 !important;
}



.navbar-custom .navbar-brand {
    color: #fff !important;
}

.navbar-custom .nav li a, .navbar-custom .navbar-toggle {
        color: #fff !important;
}

header {
    color: #fff !important;
}

.overlay{
    background-color: rgba(0,0,0,0);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #808080 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #808080 !important;
   opacity:  1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #808080 !important;
   opacity:  1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #808080 !important;
}

/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	/*.flip-container:hover .back {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	.flip-container:hover .front {
		-webkit-transform: rotateY(180deg);
	    transform: rotateY(180deg);
	}*/

.flip-container, .front, .back {
	width: 100%;
	height: 180px;
	cursor:pointer;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 0.6s;
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

/* 
	Some vertical flip updates 
*/
.vertical.flip-container {
	position: relative;
}

	.vertical .back {
		-webkit-transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
		transform: rotateX(180deg);
	}

	.backflip-back{
		-webkit-transform: rotateX(0deg) !important;
		-moz-transform: rotateX(0deg) !important;
	    transform: rotateX(0deg) !important;
	}

	.backflip-front{
		-webkit-transform: rotateX(180deg) !important;
		-moz-transform: rotateX(180deg) !important;
	    transform: rotateX(180deg) !important;
	}


ul li.timeline-inverted .flip-container.vertical .flipper .timeline-panel{
	float: right !important;
	text-align: left !important;
}

ul li.timeline-inverted .flip-container.vertical .flipper .timeline-panel:before {
  border-left-width: 0 !important;
  border-right-width: 15px !important;
  left: -15px !important;
  right: auto !important;
}

ul li.timeline-inverted .flip-container.vertical .flipper .timeline-panel:after {
  border-left-width: 0 !important;
  border-right-width: 14px !important;
  left: -14px !important;
  right: auto !important;
}

section#formulario .section-heading {
  color: black;
}
section#formulario .form-group {
  margin-bottom: 25px;
}
section#formulario .form-group input,
section#formulario .form-group textarea {
  padding: 10px;
}
section#formulario .form-group input.form-control {
  height: auto;
	line-height: 20px !important; 
}
section#formulario .form-group textarea.form-control {
  height: 236px;
}
section#formulario .form-control:focus {
  border-color: #FF6F08;
  box-shadow: none;
}
section#formulario ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#formulario :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#formulario ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#formulario :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#formulario .text-danger {
  color: #FF6F08;
}

.timeline-body i{
	color: black !important;
	font-size: 20px !important;
	margin-right: 10px !important;
}

.timeline li:nth-child(1) p{
	line-height: 17px !important;
	margin-right: -3px !important;
}



.front .timeline-panel p{
	color:#FF6F08 !important;
	font-weight: 700;
}

section#contact {
  background-image: url('../img/contacto/contacto.jpg') !important;
	background-color: #002775 !important;
	 background-size: cover !important;
}

.navbar-custom.affix{
    background-color: #002775 !important;
}

#contact .text-muted{
	color:white !important;
}

.centrada{
	margin: 0 auto !important;
}

.formulario{
	padding: 5px 10px !important;
}

/*section#inicio {
  background-image: url('../img/contacto/contacto-muy-claro.png') !important;
	background-color: #2C2D48 !important;
	background-size: cover !important;
	background-position: center;
  background-repeat: no-repeat;
}*/
 

header {
    background-image: url(../img/2.jpg) !important;
}

#myform2 .error{
	color:red !important;
}

#myform .error{
	color:red !important;
}

 
form label{
	    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
			margin-left: 4px;
}