<ion-content padding>
  <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="http://clubhonorarios.com/img/logo/logo-max.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form [formGroup]="login" method="post" class="form-signin" id="myform" name="login">
                <ion-item>
                    <ion-label floating>Usuario</ion-label>
                    <ion-input type="text" formControlName="username" name="user" id="user" [class.errorClubHonorarios]="!login.controls.username.valid && (login.controls.username.touched || submitAttempt)"></ion-input>
                </ion-item>
                <p  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!login.controls.username.valid  && (login.controls.username.touched || submitAttempt)">Por Favor Ingrese un Usuario</p>
                <ion-item>
                    <ion-label floating>Contraseña</ion-label>
                    <ion-input formControlName="password" type="password" class="form-control" name="password" id="password" [class.errorClubHonorarios]="!login.controls.username.valid && (login.controls.username.touched || submitAttempt)"></ion-input>
                </ion-item>
                <p  class="help-block text-danger errorClubHonorarios errorP" *ngIf="!login.controls.password.valid  && (login.controls.password.touched || submitAttempt)">Por Favor Ingrese el Password</p>
                
                <button style="margin-top: 20px;" ion-button type="submit" (click)="ingresar()">Ingresar</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div>
</ion-content>
