 <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title><img class="titleMenu ocultarMenu" src="https://clubhonorarios.com/img/logo/logo-max.png" /></ion-title>
  </ion-navbar>
</ion-header> 



<ion-content padding>
  <div class="contenedor">
      <div id="botonCentrado">
        <button *ngIf="campos.usuario.idUsuario && !mostrarCartelMPError" (click)="aceptarOperacion()" color="secondary" ion-button>
            <ion-icon name="ios-card"></ion-icon> ACEPTAR
        </button>
        <button *ngIf="!campos.usuario.idUsuario" (click)="volver()" color="secondary" ion-button>
            <ion-icon name="ios-card"></ion-icon> Nueva Operacion
        </button>
      </div>
   
      <div *ngIf="!mostrarCartelMPError && !mostrarCartelMPPendiente" class="cardGreen card-container">
          <div class="round">
              <img src="assets/clipgreen.png" alt="">
          </div>
          <h4>{{respuesta.mp.mensaje}}</h4>
          <h4>Codigo Autorizacion: {{respuesta.mp.comprobante}}</h4>
          <h4 *ngIf="!mostrarCartelMysqlError">Operacion Nº: {{respuesta.mysql.codigo}}</h4>
      </div>  
      <div *ngIf="mostrarCartelMPError" class="cardRed card-container">
          <div class="round">
              <img src="assets/clipred.png" alt="">
          </div>
          <h4>{{respuesta.mp.mensaje}}</h4>
      </div>
      <div *ngIf="mostrarCartelMPPendiente" class="cardYellow card-container">
            <div class="round">
                <img src="assets/clipyellow.png" alt="">
            </div>
            <h4>{{respuesta.mp.mensaje}} Por favor comuníquese inmediatamente con una operadora de Club Honorarios. Disculpe las molestias</h4>
    </div>
      <div style="margin-top:20px" *ngIf="mostrarCartelMysqlError" class="cardRed card-container">
          <div class="round">
              <img src="assets/clipred.png" alt="">
          </div>
          <h4>Advertencia: Debe validar esta operacion con Club Honorarios. Por Favor ponganse en contacto con algun representante.</h4>
      </div> 
      
      
      <div *ngIf="campos.usuario.idUsuario && mostrarCartelMPError">
            <button color="secondary" ion-button (click)="otroMetodo()">Cargar operacion por otra VIA</button>
      </div> 
      

      <div class="bloque card-container" style="max-width: 1000px;">
        <div class="titulo">
          <span *ngIf="!mostrarCartelMPError && !mostrarCartelMPPendiente" >Datos Previos</span>
          <!-- Este div me ayuda a que se carguen los CSS. pequeño truco -->
          <div id="preloadfont" >.</div>
        </div>

        <canvas style="display:none" #myCanvas></canvas>

        <img [src]="urlImagenCanvasAzul" *ngIf="imagenEditadaAzul" imageViewer alt="">

        <img [src]="urlImagenCanvas" *ngIf="imagenEditada" imageViewer alt="">
      </div>
  </div>
</ion-content>
