page-form-profesional {
    .labelError {
        color: red;
        margin-left: 16px;
        margin-bottom: 0;
        margin-top: 6px;
    }

    .lecturaProfesional .item-inner{
        border-bottom: none !important;
        box-shadow: none !important;
    }

    .lecturaProfesional ion-label{
        color: black !important;
        font-weight: bold !important;
    }

    .scroll-content {
        background: #F1F1F1 !important;
    }
}   
