<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title><img class="titleMenu ocultarMenu" src="http://clubhonorarios.com/img/logo/logo-max.png" /></ion-title>
    </ion-navbar>
</ion-header> 

<ion-content padding>
    <div class="contenedor">
        <form [formGroup]="fomularioProfesional">
            <ion-item *ngIf="this.profesional">
                <p>Fecha de Alta: {{this.profesional.fechaAlta  | date:'dd/MM/yyyy' }}</p>
            </ion-item>
            <ion-item [class.lecturaProfesional]="isInputDisabled">
                <ion-label stacked>Fecha Impresion</ion-label>
                <ion-input disabled="{{dniHabilitado}}"  type="date" formControlName="fechaImpresion" ></ion-input>
            </ion-item>
            <ion-item [class.lecturaProfesional]="isInputDisabled">
                <ion-label stacked>DNI</ion-label>
                <ion-input disabled="{{dniHabilitado}}"  type="number" formControlName="dni" ></ion-input>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.dni.valid  && submitAttempt">Ingrese DNI o CUIT del profesional</p>
            <ion-item [class.lecturaProfesional]="isInputDisabled">
                <ion-label stacked>Apellido</ion-label>
                <ion-input disabled="{{isInputDisabled}}" type="text" formControlName="apellido" ></ion-input>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.apellido.valid  && submitAttempt">Ingrese Apellido</p>
            <ion-item [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>Nombre</ion-label>
                <ion-input disabled="{{isInputDisabled}}" type="text" formControlName="nombre" ></ion-input>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.nombre.valid  && submitAttempt">Ingrese Nombre</p>
            <ion-item [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>Especialidad</ion-label>
                <ion-input disabled="{{isInputDisabled}}" type="text" formControlName="especialidad" ></ion-input>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.especialidad.valid  && submitAttempt">Ingrese una Especialidad</p>
            <ion-item [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>Domicilio</ion-label>
                <ion-input disabled="{{isInputDisabled}}" type="text" formControlName="domicilio" ></ion-input>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.domicilio.valid  && submitAttempt">Ingrese el Domicilio</p>

            
            <ion-item [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>Provincia</ion-label>
                <ion-select disabled="{{isInputDisabled}}" (ionChange)="provinciaElegida($event)" formControlName="provincia" [selectOptions]="selectOptionsProvincia" okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let p of provincias" value="{{p.idProvincia}}">{{p.nombre}}</ion-option>
                </ion-select>
            </ion-item>
            <p class="labelError" *ngIf="!fomularioProfesional.controls.provincia.valid  && submitAttempt">Ingrese una Provincia</p>

            <ion-item *ngIf="mostrarCiudades || fomularioProfesional.controls.provincia.valid" [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>Localidad</ion-label>
                <ion-select disabled="{{isInputDisabled}}" formControlName="localidad" [selectOptions]="selectOptionsCiudad" okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let c of ciudades" value="{{c.idCiudad}}">{{c.nombre}}</ion-option>
                </ion-select>
            </ion-item>
            <p class="labelError" *ngIf="!fomularioProfesional.controls.localidad.valid  && submitAttempt && mostrarCiudades">Ingrese Localidad</p>



            <ion-item [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>Telefono</ion-label>
                <ion-input disabled="{{isInputDisabled}}" type="text" formControlName="telefono" ></ion-input>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.telefono.valid  && submitAttempt">Ingrese Telefono</p>
            <ion-item [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>Profesion</ion-label>
                <ion-input disabled="{{isInputDisabled}}" type="text" formControlName="prefesion" ></ion-input>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.prefesion.valid  && submitAttempt">Ingrese Profesion</p>
            <ion-item [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>Mail</ion-label>
                <ion-input disabled="{{isInputDisabled}}" type="email" formControlName="mail" ></ion-input>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.mail.valid  && submitAttempt">Ingrese un Mail Valido</p>


            <ion-item [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>Vendedor</ion-label>
                <ion-select disabled="{{isInputDisabled}}" formControlName="vendedor" okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let v of vendedores" value="{{v.idVendedor}}">{{v.nombre}}</ion-option>
                </ion-select>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.vendedor.valid  && submitAttempt">Ingrese Vendedor</p>


            <ion-item [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>Autorizado</ion-label>
                <ion-input disabled="{{isInputDisabled}}" type="text" formControlName="autorizado" ></ion-input>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.autorizado.valid  && submitAttempt">Ingrese autorizado a Cobrar</p>
            <ion-item [class.lecturaProfesional]="isInputDisabled" >
                <ion-label stacked>DNI Autorizado</ion-label>
                <ion-input disabled="{{isInputDisabled}}" type="number" formControlName="dniAutorizado" ></ion-input>
            </ion-item>
            <p class="labelError"    *ngIf="!fomularioProfesional.controls.dniAutorizado.valid  && submitAttempt">Ingrese DNI o CUIT del autorizado a cobrar</p>
        </form>
        <button *ngIf="!isInputDisabled" float-right style="margin-top: 20px;" color="secondary" ion-button type="submit" (click)="generar()">{{mensajeSubmit}}</button>
    </div>
</ion-content>
