page-caja {
   .informacionProfesional p {
      font-size: 12px;
      margin: 5px 0;
   }
   .pRecuadro {
      border: 2px solid #7cb342;
      margin: 0 !important;
      display: inline-flex;
      padding: 5px 20px;
      width: 90px;
      height: 29px;
   }
   .mat-row {
      min-height: 35px;
   }
   .mat-header-row {
      min-height: 35px;
   }
   mat-row:nth-child(even) {
      background-color: #dcedc8;
   }
   .mat-cell {
      overflow: visible;
      font-size: 12px;
   }
   .mat-cell {
      text-align: center;
   }
   .mat-header-cell {
      text-align: center;
   }
   .mat-column-orden {
      flex: 0 0 45px;
   }
   .mat-column-codInterno {
      flex: 0 0 70px;
   }
   .mat-column-apellidoCliente {
      text-align: left;
   }
   .mat-column-tarjeta {
      text-align: left;
   }
   .sidenav-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
   }
   .table-container {
      display: flex;
      flex-direction: column;
      max-height: 500px;
      min-width: 300px;
   }
   .mat-table {
      overflow: auto;
      max-height: 500px;
   }
   .mat-column-select {
      overflow: visible;
   }
   .botonSubirExcel {
      height: 70px;
      border-style: dashed;
   }
}

.toast-md>div {
   background: none !important;
}

.toast-md button {
   color: #721c24;
}

.toastNoConciliacion>div>div {
   background-color: #fff3cd;
   border-color: #ffeeba !important;
   border: 1px solid;
   border-radius: 5px;
}

.toastNoConciliacion>div>div>div {
   color: #856404 !important;
   font-weight: 300;
}

.toastConciliacion>div>div {
   background-color: #d4edda;
   border-color: #c3e6cb !important;
   border: 1px solid;
   border-radius: 5px;
}

.toastConciliacion>div>div>div {
   color: #155724 !important;
   font-weight: 300;
}

.toastErrorConciliacion>div>div {
   background-color: #f8d7da;
   border-color: #f5c6cb !important;
   border: 1px solid;
   border-radius: 5px;
}

.toastErrorConciliacion>div>div>div {
   color: #721c24 !important;
   font-weight: 300;
}