page-caja {
   ::-webkit-scrollbar {
      display: none;
   }
   #pdf {
      max-width: 1208px !important;
      margin: 0 auto;
   }
   .logo {
      text-align: center;
   }
   .logo img {
      width: 190px;
   }
   .autorizPago {
      font-weight: 900;
      text-align: center;
      font-size: 16px;
   }
   .informacionProfesional p {
      font-size: 14px;
      margin: 5px 0;
   }
   .pRecuadro {
      border: 2px solid #7cb342;
      margin: 0 !important;
      display: inline-flex;
      padding: 5px 20px;
      width: 90px;
      height: 29px;
   }
   .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #558b2f;
   }
   .mat-row {
      min-height: 35px;
      padding: 0px 0px 0px 24px;
   }
   .mat-header-row {
      padding: 0px 0px 0px 24px;
   }
   .mat-header-row {
      min-height: 35px;
   }
   mat-row:nth-child(even) {
      background-color: #dcedc8;
   }
   mat-row:last-child {
      background-color: #B0BEC5;
   }
   mat-row:last-child mat-cell {
      font-size: 14px !important;
      font-weight: 900 !important;
      color: black;
   }
   .mat-cell {
      overflow: visible;
      font-size: 14px;
   }
   .mat-cell {
      text-align: center;
   }
   .mat-header-cell {
      text-align: center;
   }
   .mat-column-orden {
      flex: 0 0 45px;
   }
   .mat-column-codInterno {
      flex: 0 0 70px;
   }
   .mat-column-apellidoCliente {
      text-align: left;
   }
   .mat-column-tarjeta {
      text-align: left;
   }
   .mat-column-exclamacion {
      text-align: left;
      flex: 0 0 25px;
   }
   .mat-column-exclamacion ion-icon {
      font-size: 22px;
      color: #e53935;
   }
   .sidenav-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
   }
   .table-container {
      display: flex;
      flex-direction: column;
   }
   .mat-table {
      overflow: auto;
   }
   .mat-column-select {
      overflow: visible;
   }
   .botonPagar {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
      background-color: #7cb342;
      float: right;
      margin-top: 20px;
      width: 300px;
      height: 45px;
   }
   .botonSubirExcel {
      height: 70px;
      border-style: dashed;
   } // CSS PARA RECIBO
   #recibo {
      font-size: 13px;
      max-width: 600px;
   }
   #recibo p {
      margin: 5px;
      font-weight: 500;
   }
   .fila1 ion-col {
      padding: 0px;
      border: 1.5px solid black;
   }
   .unouno {
      text-align: center;
      border: none !important;
      height: 55px !important;
   }
   .unodos {
      border-right: 0px !important;
      height: 55px !important;
      border-bottom: 0px !important;
   }
   .fila2 {
      margin-top: 5px;
      border: 1.5px solid black;
   }
   .fila2>ion-col {
      padding: 10px 80px;
   }
   .fila2>ion-col>ion-row>ion-col {
      padding: 2px 0;
   }
   .fila2>ion-col>ion-row {
      text-align: center;
   }
   .col3 {
      padding-right: 0px;
   }
   .divTotal {
      border: 1.5px solid black;
      text-align: center;
   }
   .pTotal {
      margin: 0 !important;
      padding: 5px 30px 5px 30px;
      display: inline-block;
   }
   .pFirma {
      margin-top: 50px;
      padding: 10px 0;
      border-top: 1px solid black;
      max-width: 200px;
   } //vista imprimir recibos
   .viOk {
      width: 100%;
      height: 275px;
      background: #66BB6A;
   }
   .viOk ion-col {
      text-align: center;
   }
   .viOk ion-icon {
      font-size: 135px;
      color: white;
   }
   .viOk p {
      color: white;
      font-size: 20px;
   }
}

.toast-md>div {
   background: none !important;
}

.toast-md button {
   color: #721c24;
}

.toastNoConciliacion>div>div {
   background-color: #fff3cd;
   border-color: #ffeeba !important;
   border: 1px solid;
   border-radius: 5px;
}

.toastNoConciliacion>div>div>div {
   color: #856404 !important;
   font-weight: 300;
}

.toastConciliacion>div>div {
   background-color: #d4edda;
   border-color: #c3e6cb !important;
   border: 1px solid;
   border-radius: 5px;
}

.toastConciliacion>div>div>div {
   color: #155724 !important;
   font-weight: 300;
}

.toastErrorConciliacion>div>div {
   background-color: #f8d7da;
   border-color: #f5c6cb !important;
   border: 1px solid;
   border-radius: 5px;
}

.toastErrorConciliacion>div>div>div {
   color: #721c24 !important;
   font-weight: 300;
}