<ion-header>
  <ion-navbar color="caja">
    <ion-title>Caja</ion-title>
    <ion-buttons end>
      <button style="padding-right: 50px;" ion-button clear (click)="sidenav.toggle()">Conciliar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <mat-sidenav-container class="sidenav-container">

      <!-- VISTA MENU LATERAL CONCILIAR -->
      <mat-sidenav position="end" #sidenav mode="over">
        <ion-row>
          <ion-col>
            <button ion-button clear style="float: right" (click)="sidenav.toggle()">X</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button class="botonSubirExcel" ion-button block outline icon-start (click)="subirArchivo()">
              <ion-icon name="add"></ion-icon>
              Subir excel
            </button>
            <button [disabled]="opConciliadas.length == 0" style="background-color: #4caf50" ion-button block icon-start (click)="aceptarConciliar()">
              <ion-icon name="checkmark"></ion-icon>
              Conciliar
            </button>
            <ion-list no-lines>
              <ion-list-header>
                Operaciones sin conciliar
              </ion-list-header>
              <ion-label *ngFor="let o of opDB" style="padding-left: 20px;">
                {{o.idOperacion}}
              </ion-label>
            </ion-list>
            <ion-list no-lines>
              <ion-list-header>
                Operaciones a conciliar
              </ion-list-header>
              <div *ngIf="opConciliadas.length != 0">
                <ion-label *ngFor="let o of opConciliadas" style="padding-left: 20px;">
                  {{o}}
                </ion-label>
              </div>
              <div *ngIf="opConciliadas.length == 0">
                <ion-label>
                  No hay operaciones para conciliar
                </ion-label>
              </div>
            </ion-list>
            <input #inputFile style="display:none" type="file" (change)="onFileChange($event)" multiple="false" />
          </ion-col>
        </ion-row>
      </mat-sidenav>

      <mat-sidenav-content>

        <!-- Vista para tabla liquidacion -->
        <ion-grid id="pdf" *ngIf="!vistaImprimir">
          <ion-row>
            <ion-col col-4 offset-4>
              <p class="autorizPago">Autorización Pago a Profesionales</p>
            </ion-col>
            <ion-col col-4 class="logo">
              <img src="../../assets/logo-max.png" alt="">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field>
                <input matInput placeholder="DNI del profesional" (keyup.enter)="periodos()" [(ngModel)]="dniProfesional">
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="fInicio" placeholder="Desde" [(ngModel)]="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="fInicio"></mat-datepicker-toggle>
                <mat-datepicker #fInicio></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="fFin" placeholder="Hasta" [(ngModel)]="fechaFin">
                <mat-datepicker-toggle matSuffix [for]="fFin"></mat-datepicker-toggle>
                <mat-datepicker #fFin></mat-datepicker>
              </mat-form-field>
              <button ion-button clear data-html2canvas-ignore="true" (click)="periodos()">Buscar</button>
            </ion-col>
          </ion-row>
          <ion-row class="informacionProfesional">
            <ion-col col-4>
              <p>
                <strong>
                  <u>Apellido:</u>
                </strong> {{profesional?.apellido}}</p>
              <p>
                <strong>
                  <u>Nombre:</u>
                </strong> {{profesional?.nombre}}</p>
              <p>
                <strong>
                  <u>Profesión:</u>
                </strong> {{profesional?.profesion}}</p>
              <p>
                <strong>
                  <u>Fecha Alta:</u>
                </strong> {{profesional?.fechaAlta | date:'d/M/yy':'+0000'}}</p>
              <p>
                <strong>
                  <u>Teléfono:</u>
                </strong> {{profesional?.telefono}}</p>
              <p>
                <strong>
                  <u>Nombre Fantasia:</u>
                </strong> {{profesional?.especialidad}}</p>
            </ion-col>
            <ion-col style="padding-left: 7%" col-4>
              <p>
                <strong>
                  <u>Domicilio:</u>
                </strong> {{profesional?.domicilio}}</p>
              <p>
                <strong>
                  <u>Localidad:</u>
                </strong> {{profesional?.localidad}}</p>
              <p>
                <strong>
                  <u>Provincia:</u>
                </strong> {{profesional?.provincia}}</p>
              <p>
                <strong>
                  <u>Mail:</u>
                </strong> {{profesional?.mail}}</p>
              <p>
                <strong>
                  <u>Autorizado:</u>
                </strong> {{profesional?.autorizado}}</p>
              <p>
                <strong>
                  <u>DNI Autorizado:</u>
                </strong> {{profesional?.dniAutorizado}}</p>
            </ion-col>
            <ion-col style="padding-left: 15%" col-4>
              <p>
                <strong>
                  <u>Fecha de Emisión:</u>
                </strong>
              </p>
              <p class="pRecuadro">{{fechaEmision | date:'d/M/yy':'+0000'}}</p>
              <p>
                <strong>
                  <u>Comprobante de pago:</u>
                </strong>
              </p>
              <p class="pRecuadro">{{idLiquidacion}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div *ngIf="operaciones.length != 0" class="table-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource">
                  <ng-container matColumnDef="orden">
                    <mat-header-cell *matHeaderCellDef> Orden </mat-header-cell>
                    <mat-cell *matCellDef="let element, let i = index">{{(i+1 == operaciones.length)? "": i+1}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="codInterno">
                    <mat-header-cell *matHeaderCellDef> Codigo Interno </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.idOperacion}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="fechaTransaccion">
                    <mat-header-cell *matHeaderCellDef> Fecha Transaccion </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fechaTransaccion | date:'d/M/yy'}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="fechaPago">
                    <mat-header-cell *matHeaderCellDef> Fecha Pago </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fechaPago | date:'d/M/yy':'+0000'}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="dniCliente">
                    <mat-header-cell *matHeaderCellDef> DNI Cliente </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.dniCliente}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="apellidoCliente">
                    <mat-header-cell *matHeaderCellDef> Apellido Cliente </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.apellidoCliente}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="tarjeta">
                    <mat-header-cell *matHeaderCellDef> Tarjeta </mat-header-cell>
                    <mat-cell *matCellDef="let element, let i = index"> {{element.tipoOperacion}} {{(element.nombreTarjeta)? " - "+element.nombreTarjeta : ""}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="honorariosProfesional">
                    <mat-header-cell *matHeaderCellDef> Honorarios Profesional </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.importeVenta | currency}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="diasHabiles">
                    <mat-header-cell *matHeaderCellDef> Dias Hábiles </mat-header-cell>
                    <mat-cell *matCellDef="let element, let i = index"> {{(i+1 == operaciones.length)? "TOTAL": 3}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="conciliada">
                    <mat-header-cell *matHeaderCellDef> Conciliada </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.conciliada}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="montoPagar">
                    <mat-header-cell *matHeaderCellDef> Monto Pagar </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.importeCobrar | currency}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="pagar">
                    <mat-header-cell *matHeaderCellDef> Pagar </mat-header-cell>
                    <mat-cell *matCellDef="let row,let i = index">
                      <mat-checkbox *ngIf="i+1 != operaciones.length" (change)="checkBox(row)" [checked]="row.checked">
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="exclamacion">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <ion-icon *ngIf="element.conciliada == 'NO'" name="md-alert"></ion-icon>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
                </mat-table>
              </div>
              <button ion-button data-html2canvas-ignore="true" icon-start class="botonPagar" *ngIf="operaciones.length != 0" (click)="pagar()">
                <ion-icon name="md-checkmark-circle-outline"></ion-icon>
                Liquidar y Descargar PDF</button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Vista liquidacion OK para imprimir  AGREGAR EL NGIF VISTAIMPRIMIR AL GRID-->
        <ion-grid *ngIf="vistaImprimir">
          <ion-row class="viOk">
            <ion-col>
              <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
              <p>Liquidación Nº {{codLiqDB}} guardada con éxito</p>
              <p>Se generaron {{cantidadRecibos}} recibos</p>
              <p>Importe de c/recibo: {{montoRecibos | currency}}</p>
            </ion-col>
          </ion-row>
          <ion-row style="margin: 0 auto">
            <button class="botonPDFRecibo" ion-button (click)="generarPDFRecibo()">Descargar PDF Recibos</button>
            <button class="botonNuevaLiq" ion-button (click)="botonNuevaLiq()">Nueva Liquidación</button>
          </ion-row>
        </ion-grid>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </ion-grid>

</ion-content>

<!-- MODELO RECIBOS ESTO VA AFUERA DEL ION CONTENT PARA Q NO SE VEA Y SE TIENE Q SACAR EL NGIF, AHORA ESTA AQUI PARA DEBUGEAR -->
<ion-grid *ngIf="vistaImprimir" id="recibo">
  <ion-row>
    <ion-col style="text-align: center;">
      <img style="max-width: 170px;" src="../../assets/mutual.png" alt="">
    </ion-col>
  </ion-row>
  <ion-row class="fila1">
    <ion-col style="border-right: none !important" col-5>
      <ion-row class="unouno">
        <p>ASOC MUTUAL P EL PODER JUDICIAL Y TRAB. INDEPENDIENTES CONGRESO DE TUCUMAN</p>
      </ion-row>
      <ion-row style="border-top: 1px solid black !important;">
        <p>CUIT 307002340558</p>
      </ion-row>
      <ion-row style="border-top: 1px solid black !important;">
        <p>9 de Julio 485</p>
      </ion-row>
      <ion-row style="border-top: 1px solid black !important;">
        <p>4000 San Miguel de Tucuman</p>
      </ion-row>
    </ion-col>
    <ion-col style="border-right: none !important" col-2>
      <ion-row class="unodos">
        <p style="padding: 14px 14px;">ORIGINAL</p>
      </ion-row>
      <ion-row style="border-top: 1px solid black !important;">
        <p style="padding: 27px 39px;">X</p>
      </ion-row>
    </ion-col>
    <ion-col col-5>
      <ion-row>
        <p style="font-weight: 900;padding: 31px 0 0 46px;height: 74px !important;">RECIBO DE COBRANZAS</p>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: right;border: none;border-top: 1px solid black;border-right: 1px solid black">
          <p>Nº:</p>
        </ion-col>
        <ion-col style="text-align: center;border: none;border-top: 1px solid black;">
          <p>{{numeroActual}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: right;border: none;border-top: 1px solid black;border-right: 1px solid black">
          <p>Fecha:</p>
        </ion-col>
        <ion-col style="text-align: center;border: none;border-top: 1px solid black;">
          <p>{{fechaEmision | date:'d/M/yy':'+0000'}}</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="fila2">
    <ion-col>
      <ion-row>
        <ion-col>
          <p>DNI/CUIT</p>
        </ion-col>
        <ion-col>
          <p style="border: 1.5px solid black;">{{dniProfesional}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Nombre</p>
        </ion-col>
        <ion-col>
          <p style="border: 1.5px solid black;">{{profesional?.apellido | uppercase}}, {{profesional?.nombre}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Importe</p>
        </ion-col>
        <ion-col>
          <p style="border: 1.5px solid black;">{{montoRecibos | currency}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Liquidacion</p>
        </ion-col>
        <ion-col>
          <p style="border: 1.5px solid black;"> {{codLiqDB}} </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Concepto</p>
        </ion-col>
        <ion-col>
          <p style="border: 1.5px solid black;">{{concepto}}</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="fila3">
    <ion-col class="col3" col-5 offset-7>
      <div class="divTotal">
        <p class="pTotal">TOTAL </p>
        <p class="pTotal">{{montoRecibos | currency}}</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="text-align: center;padding: 30px 0;">
      <p class="pFirma">Conforme de Operacion</p>
    </ion-col>
  </ion-row>
</ion-grid>