page-ver-operacion {
    .centrado{
        max-width: 500px;
        margin: 0 auto;
    }

    .scroll-content{
        background: #F1F1F1 !important;
    }

    p{
        font-size: 20px;    
    }

    th{
        text-align: initial;
        color: color($colors, letraTitulo);
    }

    .table{
        width: 100%;
    }
        
}
