<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>categorias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding style="display: flow-root;"> 
    <button ion-button icon-left float-right>
      <ion-icon name="add"></ion-icon>
      Agregar
    </button>
    <div style="width: 80%;" float-left >
      <p style="display: inline-block;">
        <a (click)="home()"  style="left: 14px;cursor:pointer;text-decoration: underline;
        position: relative;    margin-right: 11px;"  > Home </a>
      </p>
      <p style="display: inline-block; margin-left: 4px;" *ngFor="let c of root;let last = last">
         - 
        <a *ngIf="!last" (click)="listar(c.idCategoria)" style="cursor:pointer;text-decoration: underline;">
            {{c.nombre}}
        </a> 
        <span *ngIf="last" style="font-weight: 900;">{{c.nombre | uppercase}}</span>
      </p> 
    </div>
  </div>
    
    <ion-content padding style="max-height:400px;">
      <ion-list>
        <button ion-item *ngFor="let c of categorias" (click)="listar(c.codigo)">
          {{c.codigo}} - {{c.nombre}}
        </button>  
      </ion-list>
    </ion-content>
</ion-content>
