.contenedor{
    display: block;
    margin: 0 auto;
    max-width: 1006px;
}

    
.titleMenu{
    margin: 5px auto;
    display: block;
    width: 136px;
}

 @media (min-width: 768px) { 
    .contenedor{
        padding: 40px 20px;
    }
}